.friendMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.friendImageAndText {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 4px;
}

.friendImageAndText img {
    max-width: 48px;
    max-height: 48px;
}

.friendText {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    padding: 8px;
    border-radius: 12px;
    background-color: #0566CC;
    color: white;

}

.friendText:after {
    content: "";
    position: absolute;
    right: -42px;
    bottom: -32px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0566CC;
}

.friendName {
    margin-bottom: 4px;
    font-weight: 700;

}

.friendMessageText {
    font-family: inherit; 
}

.friendTime {
    font-family: inherit; 
    font-weight: 600;
    font-size: 10px;
    width: fit-content;
    margin-left: 10px;

}
